<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MODERATION</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <table>
        <tr>
            <th>post_unique_id</th>
            <th>owner_telegram_id</th>
            <th>title</th>
            <th>description</th>
        </tr>
        {% for data in posts %}
            <tr>
                <th>{{ data[0] }}</th>
                <th>{{ data[1] }}</th>
                <th>{{ data[2] }}</th>
                <th>{{ data[3] }}</th>
                <th>
                    {% for image in images[data[0]] %}
                        <img src="{{ url_for('static', filename='images/'+data[0]+'/'+image) }}" alt="Image">
                    {% endfor %}
                </th>
                <th><button class="send" data-uniqueid="{{ data[0] }}">✔</button></th>
                <th><button class="delete" data-uniqueid="{{ data[0] }}">✖</button></th>
            </tr>
        {% endfor %}
    </table>

    <script>
        let buttons = document.querySelectorAll("button")

        buttons.forEach(button => {
            button.addEventListener("click", (event) => {
                let destination = button.classList.contains("send") ? "send" : "delete" 

                fetch (`/${destination}?uniqueid=${button.getAttribute("data-uniqueid")}`, {
                    method: "POST"
                }) 
            })
        });
    </script>
</body>
</html>