header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#title {
    flex: 1 0 250px;
    font-size: 40pt;
    color: #fff;
    font-family: arial;
    text-align: center;
    padding: 10px;
}

#headerImg {
    position: relative;
    width: 800px;
    height: 250px;
}

#headerImg img {
    display: block;
    position: absolute;
    transition: all 2.5s;
}